.newPassword{
    display: flex;
    flex-direction: column;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputBox{
    position: relative;
}
.changeTypeBtn{
    position: absolute;
    border: none;
    background-color: transparent;
    right: 10px;
    cursor: pointer;
}

.sendBtn{
    margin-top: 40px;
}