.container {

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: #F9F9FE;
    height: 100%;
    padding-right: 33px;
    padding-left: 33px;
    padding-top: 25px;
    position: relative;

}

.resetFormContainer.isLoading{
    opacity: 0.2;
}

.resetFormField {
    height: 540px;
    max-width: 413px;
    width: 100%;

}



.title {
    font-size: 22px;
    line-height: 33px;
    margin-top: 32px;
    margin-bottom: 57px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.statusText{
    font-size: 10px;
    position: absolute;
    top: -12px;
    left: 0px;

}

.inputBox {
    width: 100%;
    position: relative;
}

.input {
    width: 100%;
    background-color: #F9F9FE;
    border: none;
    border-bottom: #24254A 1px solid;
    position: relative;
    margin-bottom: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.errorText {
    position: absolute;
    bottom: 15px;
    font-size: 10px;
    color: red;
}

.text {
    font-size: 16px;
    margin-bottom: 90px;
}

.buttonSend {
    border-radius: 30px;
    background: #21268F;
    font-size: 16px;
    color: #ECECF9;
    min-height: 36px;
    max-width: 266px;
    width: 100%;
    transition: all 1s ease;
    cursor: pointer;
}
.buttonSend:hover{
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    transition: all 1s ease;
}
.buttonSend:disabled{
    background-color: grey;
}

.ldsRing {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.ldsRing.displayNone{
    display: none;
}
.ldsRing div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #cef;
    border-radius: 50%;
    animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #cef transparent transparent transparent;

}
.ldsRing div:nth-child(1) {
    animation-delay: -0.45s;
}
.ldsRing div:nth-child(2) {
    animation-delay: -0.3s;
}
.ldsRing div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes ldsRing {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.emailIcon{
    margin-top: 35px;
}
